@import '../../node_modules/d2l-offscreen/offscreen.scss';
@import 'dropdown-button.scss';
@import 'dropdown-icons.scss';

@mixin _vui-dropdown-button-menu() {
	@include _dropdown_button();
}

@mixin vui-dropdown-button-menu-primary() {
	@include _dropdown_button-primary();
}

@mixin _vui-dropdown-button-menu-content($icon: $vui-dropdown-icon-secondary) {

	background-image: $icon;
	background-size: 0.8rem 0.8rem;
	background-position: right center;
	background-repeat: no-repeat;
	display: inline-block;
	padding-right: 1.4rem;
	min-height: 10px;
	min-width: 18px;

	[dir='rtl'] & {
		background-position: left center;
		padding-left: 1.4rem;
		padding-right: 0;
	}

}

@mixin _vui-dropdown-button-menu-primary-content() {
	@include _vui-dropdown-button-menu-content(
			$icon: $vui-dropdown-icon-primary
		);
}

@mixin _vui-dropdown-button-menu-text-hidden() {

	& > span {
		@include d2l-offscreen();
	}

	padding-right: 0;

	[dir='rtl'] & {
		padding-left: 0;
	}

}
