@mixin vui-field-row($bottom-margin: true) {

	border: none;
	display: block;
	margin: 0 0 if($bottom-margin, 1.5rem, 0) 0;
	padding: 0;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}

}

.vui-field-row {
	@include vui-field-row();
}

.vui-field-row fieldset {
	@include vui-field-row($bottom-margin: false);
}
