@import 'input-helpers.scss';

$vui-radio: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%225%22%20cy%3D%225%22%20r%3D%225%22%20fill%3D%22%23565a5c%22%2F%3E%3C%2Fsvg%3E");

@mixin _vui-input-radio() {
	@include _vui-input-checkbox-radio-helper(
		radio,
		$vui-radio,
		0.55rem
	);
}

@mixin _vui-input-radio-label() {
	@include _vui-input-checkbox-radio-label("radio");
}
