@import 'input-helpers.scss';

@mixin _vui-input-textarea() {
	@include _vui-input(
		$line-height: normal,
		$padding: 0.5rem 0.75rem,
		$padding-focus: calc(0.5rem - 1px) calc(0.75rem - 1px)
	);
	overflow: auto;
}
