@import 'input-helpers.scss';
@import '../../bower_components/d2l-colors/d2l-colors.scss';

$vui-select-hover-rtl: url("data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23e6eaf0%22%20d%3D%22M0%200h42v42H0z%22%2F%3E%3Cpath%20stroke%3D%22%23d3d9e3%22%20d%3D%22M42%200v42%22%2F%3E%3Cpath%20d%3D%22M14.99%2019.582l4.95%204.95a1.5%201.5%200%200%200%202.122%200l4.95-4.95a1.5%201.5%200%200%200-2.122-2.122L21%2021.35l-3.888-3.89a1.5%201.5%200%200%200-2.12%202.122z%22%20fill%3D%22%23565A5C%22%2F%3E%3C%2Fsvg%3E");
$vui-select-hover: url("data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23e6eaf0%22%20d%3D%22M0%200h42v42H0z%22%2F%3E%3Cpath%20stroke%3D%22%23d3d9e3%22%20d%3D%22M0%200v42%22%2F%3E%3Cpath%20d%3D%22M14.99%2019.582l4.95%204.95a1.5%201.5%200%200%200%202.122%200l4.95-4.95a1.5%201.5%200%200%200-2.122-2.122L21%2021.35l-3.888-3.89a1.5%201.5%200%200%200-2.12%202.122z%22%20fill%3D%22%23565A5C%22%2F%3E%3C%2Fsvg%3E");
$vui-select-normal-rtl: url("data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23f2f3f5%22%20d%3D%22M0%200h42v42H0z%22%2F%3E%3Cpath%20stroke%3D%22%23d3d9e3%22%20d%3D%22M42%200v42%22%2F%3E%3Cpath%20d%3D%22M14.99%2019.582l4.95%204.95a1.5%201.5%200%200%200%202.122%200l4.95-4.95a1.5%201.5%200%200%200-2.122-2.122L21%2021.35l-3.888-3.89a1.5%201.5%200%200%200-2.12%202.122z%22%20fill%3D%22%23565A5C%22%2F%3E%3C%2Fsvg%3E");
$vui-select-normal: url("data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23f2f3f5%22%20d%3D%22M0%200h42v42H0z%22%2F%3E%3Cpath%20stroke%3D%22%23d3d9e3%22%20d%3D%22M0%200v42%22%2F%3E%3Cpath%20d%3D%22M14.99%2019.582l4.95%204.95a1.5%201.5%200%200%200%202.122%200l4.95-4.95a1.5%201.5%200%200%200-2.122-2.122L21%2021.35l-3.888-3.89a1.5%201.5%200%200%200-2.12%202.122z%22%20fill%3D%22%23565A5C%22%2F%3E%3C%2Fsvg%3E");

@mixin _vui-input-select() {

	@include _vui-input();

	option {
		font-weight: 400;
	}

	@media screen and (-webkit-min-device-pixel-ratio :0),
		screen and (min--moz-device-pixel-ratio: 0),
		screen and (-ms-high-contrast: active),
		(-ms-high-contrast: none) {
		&:not([multiple]) {
			appearance: none;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: contain;
			max-height: calc(2rem + 2px);
			&:focus,
			&:hover,
			&.vui-input-hover,
			&.vui-input-focus {
				&::-ms-value {
					background-color: transparent;
					color: $d2l-color-ferrite;
				}
				background-image: $vui-select-hover;
				padding-right: calc(0.75rem + 42px - 1px);
			}
			&,
			&:disabled,
			&:focus:disabled,
			&:hover:disabled {
				background-image: $vui-select-normal;
				padding-right: calc(0.75rem + 42px);
			}
		}
		[dir='rtl'] &:not([multiple]) {
			background-position: left center;
			&:focus,
			&:hover,
			&.vui-input-hover,
			&.vui-input-focus {
				background-image: $vui-select-hover-rtl;
				padding-left: calc(0.75rem + 42px - 1px);
				padding-right: calc(0.75rem - 1px);
			}
			&,
			&:disabled,
			&:focus:disabled,
			&:hover:disabled {
				background-image: $vui-select-normal-rtl;
				padding-right: 0.75rem;
				padding-left: calc(0.75rem + 42px);
			}
		}
		&::-ms-expand {
			display: none;
		}
	}

}
