@import '../../node_modules/d2l-colors/d2l-colors.scss';

@mixin _vui-input(
		$background-color: $d2l-color-white,
		$background-color-hover: null,
		$border-radius: 0.3rem,
		$box-shadow: inset 0 2px 0 0 rgba(181, 189, 194, .2), /* corundum */
		$has-text: true,
		$height: auto,
		$line-height: 1.2rem,
		$min-width: 0,
		$padding: 0.4rem 0.75rem,
		$padding-focus: calc(0.4rem - 1px) calc(0.75rem - 1px),
		$width : 100%
	) {

	border-radius: $border-radius;
	border-style: solid;
	box-sizing: border-box;
	display: inline-block;
	height: $height;
	margin: 0;
	@if $min-width != 0 {
		min-width: $min-width;
	}
	vertical-align: middle;
	width: $width;
	transition: background-color 0.5s ease, border-color 0.001s ease;
	@if $has-text {
		color: $d2l-color-ferrite;
		font-family: inherit;
		font-size: 0.8rem;
		font-weight: 400;
		letter-spacing: 0.02rem;
		line-height: $line-height;
		&::placeholder {
			color: $d2l-color-mica;
		}
	}

	&,
	&:hover:disabled {
		background-color: $background-color;
		border-color: $d2l-color-galena;
		border-width: 1px;
		box-shadow: $box-shadow;
		padding: $padding;
	}

	&:hover,
	&:focus,
	&.vui-input-focus {
		background-color: $background-color-hover;
		border-color: $d2l-color-celestine;
		border-width: 2px;
		outline-width: 0;
		padding: $padding-focus;
	}

	&[aria-invalid='true'] {
		border-color: $d2l-color-cinnabar;
	}

	&:disabled {
		opacity: 0.5;
	}

	&::-webkit-search-cancel-button {
		display: none;
	}
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

}

@mixin _vui-input-checkbox-radio-label(
		$type,
		$padding-right: 0
	) {

	display: inline-block;
	padding-left: 1.7rem;
	padding-right: $padding-right;
	vertical-align: middle;

	& > input[type="#{$type}"] {
		margin-top: -0.2rem;
		margin-right: 0.5rem;
		margin-left: -1.7rem;
	}

	[dir="rtl"] & {
		padding-right: 1.7rem;
		padding-left: $padding-right;
		& > input[type="#{$type}"] {
			margin-left: 0.5rem;
			margin-right: -1.7rem;
		}
	}

	&:last-of-type {
		margin-bottom: 0.5rem;
	}

}

@mixin _vui-input-legacy-outline() {
	outline: 2px solid $d2l-color-celestine-light-2;
}

@mixin _vui-input-checkbox-radio-helper(
		$appearance,
		$background-image-checked,
		$border-radius
	) {

	@include _vui-input(
		$background-color: $d2l-color-regolith,
		$border-radius: $border-radius,
		$box-shadow: none,
		$has-text: false,
		$height: 1.2rem,
		$padding: 0,
		$padding-focus: 0,
		$width: 1.2rem
	);

	appearance: none;
	background-position: center center;
	background-repeat: no-repeat;

	&:checked {
		background-image: $background-image-checked;
	}

	/* IE (not Edge) only */
	@media screen and (min-width:0\0) {
		&:focus {
			@include _vui-input-legacy-outline();
		}
	}
}
