@import 'input-helpers.scss';

$vui-checkbox: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23565A5C%22%20d%3D%22M8.4%2016.6c.6.6%201.5.6%202.1%200l8-8c.6-.6.6-1.5%200-2.1-.6-.6-1.5-.6-2.1%200l-6.9%207-1.9-1.9c-.6-.6-1.5-.6-2.1%200-.6.6-.6%201.5%200%202.1l2.9%202.9z%22%2F%3E%3C%2Fsvg%3E");

@mixin _vui-input-checkbox() {
	background-size: 24px 24px;
	@include _vui-input-checkbox-radio-helper(
		checkbox,
		$vui-checkbox,
		0.3rem
	);
}

@mixin _vui-input-checkbox-label() {
	@include _vui-input-checkbox-radio-label("checkbox");
}
