@import '../node_modules/@brightspace-ui/core/components/inputs/input-radio.scss';
@import '../node_modules/@brightspace-ui/core/components/inputs/input-select.scss';
@import '../node_modules/@brightspace-ui/core/components/typography/typography.scss';

.d2l-select,
select.vui-input /* needed for some UMD FRAs */ {
	@include d2l-input-select();
}

.d2l-radio,
.vui-input[type="radio"] /* needed for some UMD FRAs */ {
	@include d2l-input-radio();
}

.d2l-radio-inline {
	display: inline-block;
	padding-left: 1.7rem;
	padding-right: 0;
	vertical-align: middle;
	& > input[type="radio"] {
		margin-right: 0.5rem;
		margin-left: -1.7rem;
	}
	[dir="rtl"] & {
		padding-right: 1.7rem;
		padding-left: 0;
		& > input[type="radio"] {
			margin-left: 0.5rem;
			margin-right: -1.7rem;
		}
	}
	&:last-of-type {
		margin-bottom: 0.5rem;
	}
	@include d2l-body-compact();
}

.d2l-checkbox-container + .d2l-checkbox-container,
.d2l-radio-inline + .d2l-radio-inline {
	margin-left: 10px;
}
[dir='rtl'] .d2l-checkbox-container + .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline + .d2l-radio-inline {
	margin-left: 0;
	margin-right: 10px;
}

.d2l-checkbox-disabled,
.d2l-radio-disabled {
	color: #A4A6A7; /* ferrite at 50% opacity on white */
	cursor: default;
}