@import '../node_modules/@brightspace-ui/core/components/colors/colors.scss';

@mixin _dialog-animation_shim-opacity() {
	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: dialog-shim-opacity-in;
	}

	@keyframes dialog-shim-opacity-in {
		from { opacity: 0; }
		to   { opacity: 0.7; }
	}
}

.d2l-shim {
	background-color: $d2l-color-regolith;
	bottom: 0;
	opacity: 0;
	position: fixed;
	transition: opacity 0.3s linear;
}

.d2l-shim-opaque {
	@include _dialog-animation_shim-opacity();
	opacity: 0.7;
}

.d2l-shim-body-overflow {
	@media #{$dialog-media-break-small} {
		overflow: hidden;
	}
}
