@import '../../node_modules/@brightspace-ui/core/components/colors/colors.scss';
@import '../common.scss';

$d2l-navigation-header-height-mobile: 72px;
$d2l-navigation-margin-regular: 30px;
$d2l-navigation-margin-compact: 20px;

$d2l-navigation-bp-username: 1055px;
$d2l-navigation-bp-separators: 931px;
$d2l-navigation-bp-mobile-menu: 767px;
$d2l-navigation-bp-mobile-menu-compact: 380px;
$d2l-navigation-bp-title-compact: 615px;
$d2l-navigation-bp-title-hidden: 488px;

$d2l-branding-navigation-dark-foreground-color: $d2l-color-ferrite;
$d2l-branding-navigation-light-foreground-color: #FFFFFF;
$d2l-color-light-galena: rgba(134,140,143,0.18);

.d2l-navigation-s-centerer { // remove once bottom nav bar is in d2l-navigation
	margin: 0 auto;
	max-width: 1230px;
}

.d2l-navigation-s-gutters { // remove once bottom nav bar is in d2l-navigation
	@include d2l-page-padding();
}

a.d2l-navigation-s-link,
a.d2l-navigation-s-link:link,
a.d2l-navigation-s-link:visited {
	cursor: pointer;
	text-decoration: none;
}

.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link,
.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link:link,
.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link:visited,
.d2l-branding-navigation-dark-foreground-color div.d2l-navigation-s-item > span {
	color: $d2l-branding-navigation-dark-foreground-color;
}

.d2l-branding-navigation-light-foreground-color a.d2l-navigation-s-link,
.d2l-branding-navigation-light-foreground-color a.d2l-navigation-s-link:link,
.d2l-branding-navigation-light-foreground-color a.d2l-navigation-s-link:visited,
.d2l-branding-navigation-light-foreground-color div.d2l-navigation-s-item > span {
	color: $d2l-branding-navigation-light-foreground-color;
}

.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link,
.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:link,
.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:visited {
	color: $d2l-branding-navigation-dark-foreground-color;
}

.d2l-navigation-s a.d2l-navigation-s-link:hover,
.d2l-navigation-s a.d2l-navigation-s-link:focus {
	border-bottom: 2px solid;
	outline: none;
}

.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:hover,
.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:focus,
.d2l-navigation-s-linkarea-no-color a.d2l-navigation-s-link:hover,
.d2l-navigation-s-linkarea-no-color a.d2l-navigation-s-link:focus {
	color: $d2l-color-celestine;
}

.d2l-navigation-s-highlight-bar {
	background-color: $d2l-color-celestine-minus-1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: none;
	height: 4px;
	left: -7px;
	position: absolute;
	top: 0;
	width: calc(100% + 14px);
}

.d2l-navigation-s-title-container {
	overflow: auto;
}
