@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import 'common.scss';

.d2l-navigation-s-header-open-button-wrapper {
	display: inline-block;
	flex: 0 1 auto;
	height: 100%;
	@media (min-width: ($d2l-navigation-bp-mobile-menu + 1)) {
		display: none;
	}
}

.d2l-navigation-s .d2l-navigation-s-header-logo-area > .d2l-navigation-s-link {
	font-size: 1.25rem;
	@media (max-width: $d2l-navigation-bp-username) {
 		font-size: 1.1rem;
 	}
	@media (max-width: $d2l-navigation-bp-separators) {
 		font-size: 1rem;
 	}
	@media (max-width: $d2l-navigation-bp-title-compact) {
 		font-size: 0.9rem;
 	}
	@media (max-width: $d2l-navigation-bp-separators) {
		margin-left: $d2l-navigation-margin-compact;
		[dir="rtl"] & {
			margin-left: 0;
			margin-right: $d2l-navigation-margin-compact;
		}
	}
}
