
# This workflow runs "npm i" to see if any BSI dependencies have updated.
# If so, it commits the package-lock changes and opens a PR if one does not already exist.
name: Another

on:
  workflow_dispatch: # manual trigger

jobs:
  build:
    # self-hosted doesn't work for public repos (security), so need to use ubuntu
    runs-on: ubuntu-latest

    timeout-minutes: 20

    env:
      BRANCH_NAME: fixing_gh_auto_update

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: Brightspace/third-party-actions@actions/setup-node

      - name: Checkout Branch
        run: |
          git fetch origin +refs/heads/$BRANCH_NAME:refs/heads/$BRANCH_NAME || true
          git checkout $BRANCH_NAME || git checkout -b $BRANCH_NAME
          git push --force origin $BRANCH_NAME
