# This workflow runs "npm i" to see if any BSI dependencies have updated.
# If so, it commits the package-lock changes and opens a PR if one does not already exist.
name: BSI Update

on:
  workflow_dispatch: # manual trigger

jobs:
  build:
    # self-hosted doesn't work for public repos (security), so need to use ubuntu
    runs-on: ubuntu-latest

    timeout-minutes: 20

    env:
      BRANCH_NAME: fixing_gh_auto_update

    steps:
      - name: Checkout Repository
        uses: Brightspace/third-party-actions@actions/checkout

      - name: Use Node.js
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: '12.x'

      - name: Checkout Branch
        run: |
          git fetch -n origin +refs/heads/fixing_gh_auto_update:refs/heads/fixing_gh_auto_update || true
          git checkout $BRANCH_NAME || git checkout -b $BRANCH_NAME

      - name: Create Commit
        run: |
          git reset --hard origin/master
          rm package-lock.json
          git config user.name github-actions
          git config user.email github-actions@github.com
          echo "git add package-lock.json"
          git commit -am 'BSI Auto Update Dependencies'
          git push --force origin $BRANCH_NAME
